* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  position: relative;
  height: 100%;
}
.hidden {
  display: none;
}

.container {
  padding: 0 4rem;
  padding-bottom: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 7%;
  width: 86%;
  background-color: white;
}
.user_header h1 {
  color: #cda274;
  font-weight: 390;
}
.header_right {
  display: flex;
}
.search {
  margin-right: 5rem;
}
.search input {
  border: none;
  border-bottom: 2px solid #cda274;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border-radius: 7px;
  padding: 0 0.5rem;
}
.mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mode_item svg {
  cursor: pointer;
}

.title {
  width: 100%;
  height: 12rem;
  background: url(./Image/bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.title h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}

#user-items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.user_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 20%;
  height: 27rem;
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.2);
}
.userItem_image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.userItem_name h1 {
  font-size: 1.4rem;
  font-weight: 380;
  color: black;
}
.userItem_age h1,
.userItem_addres h1 {
  font-size: 1.2rem;
  font-weight: 380;
  color: black;
}
.userItem_addres {
  display: flex;
  align-items: center;
}
.userItem_email {
  display: flex;
  align-items: center;
}
.userItem_addres i,
.userItem_email i,
.userItem_age i {
  margin-right: 0.7rem;
}
.userItem_email a {
  text-decoration: none;
}
.userItem_email a h1 {
  font-size: 0.9rem;
  font-weight: 380;
  color: rgb(2, 2, 104);
}
.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
}
.refresh button {
  background-color: #cda274;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.by {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.by h1,
.by h1 a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(3, 3, 97);
  font-weight: 400;
}
