* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  position: relative;
  height: 100%;
}
.hidden {
  display: none;
}

.container {
  padding: 5rem 4rem;
}
body.dark-mode {
  background-color: rgb(12, 2, 50);
}
body.dark-mode .by a,
body.dark-mode .by h1 {
  color: white;
}

/* Loading */
.loading {
  z-index: 10;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}
.loading_item {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top: 7px solid black;
  border-right: 7px solid black;
  animation: loader 2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 7%;
  width: 86%;
  background-color: white;
}
body.dark-mode .header {
  background-color: rgb(12, 2, 50);
}
.user_header h1 {
  color: #cda274;
  font-weight: 390;
}
.header_right {
  display: flex;
}
.search {
  margin-right: 5rem;
}
.search input {
  border: none;
  border-bottom: 2px solid #cda274;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border-radius: 7px;
  padding: 0 0.5rem;
  background-color: transparent;
}
.mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mode_item svg {
  cursor: pointer;
}

.title {
  width: 100%;
  height: 12rem;
  background: url(./Image/bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}
.userItem_first_row,
.userItem_second_row {
  margin-bottom: 5rem;
}
.userItem_first_row,
.userItem_second_row,
.userItem_threeth_row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.user_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 20%;
  height: 27rem;
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.17);
}
.userItem_image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.userItem_name h1 {
  font-size: 1.4rem;
  font-weight: 380;
  color: black;
}
.userItem_age h1,
.userItem_addres h1 {
  font-size: 1.2rem;
  font-weight: 380;
  color: black;
}
.userItem_addres {
  display: flex;
  align-items: center;
}
.userItem_email {
  display: flex;
  align-items: center;
}
.userItem_addres i,
.userItem_email i,
.userItem_age i {
  margin-right: 0.7rem;
}
.userItem_email a {
  text-decoration: none;
}
.userItem_email a h1 {
  font-size: 0.9rem;
  font-weight: 380;
  color: rgb(2, 2, 104);
}
.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
}
.refresh button {
  background-color: #cda274;
  border: 2px solid #cda274;
  outline: none;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.refresh button:hover {
  background-color: white;
  border: 2px solid #cda274;
  color: #cda274;
}
.by {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.by h1,
.by h1 a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(3, 3, 97);
  font-weight: 400;
}
